* {
  box-sizing: border-box;
}

body,
html {
  scroll-behavior: smooth;
  background-position: 0% 90%;
  min-height: 100vh;
  min-width: 360px;
  overscroll-behavior: none;
}

body {
  background-image: url("/krajobraz.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: auto;
}

.galleryContainer {
  margin: 2rem 0;
}
