@import "@/styles/breakpoints";

.section {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 0 1rem;
  padding: 2rem;

  @media (min-width: $md) {
    margin: 0 3rem;
    padding: 4rem;
  }
  border-radius: 1rem;
}

.hero {
  margin-top: 3rem;
  h1 {
    font-size: 3rem;
    line-height: 1.2;
    @media (min-width: $md) {
      font-size: 4rem;
    }
  }
  div {
    height: 1px;
    width: 100%;
    @media (min-width: $md) {
      width: 500px;
    }

    background-color: white;
    margin: 2rem 0;
  }
  p {
    margin-top: 3rem;
    font-size: 22px;
    line-height: 200%;
  }
}

.gallery {
  margin-top: 5rem;
  margin-bottom: 5rem;
  h2 {
    font-size: 3rem;
    text-align: center;
  }
  .galleryLinksWrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    @media (max-width: $lg) {
      flex-direction: column;
      gap: 3rem;
      align-items: center;
    }
    a {
      color: white;
      text-decoration: none;
      font-size: 2.5rem;
      border-radius: 20px;
      overflow: hidden;
      text-align: center;
      text-transform: uppercase;
      width: 250px;
      height: 250px;
      :hover {
        scale: 1.2;
      }
      @media (max-width: $lg) {
        width: 280px;
        height: 280px;
      }
      @media (min-width: $xl) {
        width: 310px;
        height: 310px;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
    a:hover {
      color: orange;
      transition: color 0.5s ease;
    }
  }
}
